APP_PORT=8080
APP_ENV=development
JWT_SECRET=super-secret-key
JWT_ACCESS_EXPIRE_MIN=30
JWT_REFRESH_EXPIRE_HOUR=168
BOOKING_HOLD_MINUTES=10
CANCEL_POLICY_HOURS=12

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=badminton
POSTGRES_SSLMODE=disable

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
